<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webpage</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <div class="main">
            <ul>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Blogs</a></li>
                <li><a href="#">FAQ's</a></li>
                <li><a href="#">Contact us</a></li>
                
               
            </ul>
        </div>
        <div class="title">
           <h1>AR EVENTS</h1> 
        </div>
        <div class="button">
            <a href="#" class="btn">WATCH VIDEOS</a>
         
            <a href="#" class="btn">VIEW MORE</a>
        </div>
    </header>
</body>
</html>
